<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EShop.Core.Properties.Settings.EShopConnectionString"
            connectionString="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|\EShop.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>